:root {
    --background: #ecf0f1;
    --text: #172554;
    --primary: #3498db; /* 'X' */
    --secondary: #e74c3c; /* 'O' */
    --accent: #73c6dc; /* for grid lines */
    --accent2: #2ecc71; /* complementary colors */
    --accent3: #f39c12; /* complementary colors */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--text);
}

main {
    /* margin-top: 50px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

header {
    padding-top: 2rem;
    color: var(--accent3);
    font-size: 2.5rem;
    font-family: 'Lobster', 'Shrikhand', 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
}

.board {
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid var(--cell-bg);
}

.grid {
  border: 1px solid var(--accent);
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 6rem;
  font-weight: 900;
}

.board div:hover {
    background-color: #e0e4e6;
}

.player-scores {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.counter {
    font-family: 'Oxygen', 'Helvetica', sans-serif;
    /* align-self: flex-start; */
    color: var(--background);
    border-radius: 10px;
    width: 15rem;
    padding: 5px;
}

.p1 {
    background-color: var(--primary);
}

.p2 {
    background-color: var(--secondary);
}

.player1,
.player2 {
    font-weight: 900;
    font-size: 1.4rem;
}

/* modifying grid's border to make 2x2 grid lines */

.one,
.three,
.seven,
.nine {
    border: none;
}

.two {
    border-top: none;
    border-bottom: none;
}

.four {
    border-left: none;
    border-right: none;
}

.six {
    border-right: none;
    border-left: none;
}

.eight {
    border-bottom: none;
    border-top: none;
}

/* end of modifying grid lines */


/* modal start */

.modal,
.modal-tie {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: var(--accent2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: 'Young Serif', serif;
    font-size: 1.5rem;
    color: var(--background);
}

.modal-tie {
    background-color: var(--primary);
}

.announce-winner {
    font-size: 4.2rem;
    font-weight: 900;
}

.modal-bottom > button {
    border-style: none;
    height: 2rem;
    border-radius: 5px;
    width: 10rem;
    text-align: center;
    font-family: 'Young serif', serif;
    color: var(--accent2);
    background-color: var(--background);
    font-size: 1.4rem;
    transition: all 0.7s ease;
    transform: scale(1);
}

button.reset-tie {
    color: var(--primary);
}

/* reset button hover pseudo-class */

button.reset:hover,
button.reset-tie:hover {
    background-color: #f4f6f7;
    transform: scale(1.2);
}

/* overlay */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

/* hides the modal */
.hidden {
    display: none;
}

/* modal end */