:root {
    --background: #ecf0f1;
    --text: #172554;
    --primary: #3498db; /* 'X' */
    --secondary: #e74c3c; /* 'O' */
    --accent: #73c6dc; /* for grid lines */
    --accent2: #2ecc71; /* complementary colors */
    --accent3: #f39c12; /* complementary colors */
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 50px auto;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--text);
    padding-bottom: 2rem;
}

.board {
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 3px solid var(--cell-bg);
}

.grid {
  border: 1px solid var(--accent);
  background-color: var(--background);
}

.board div:hover {
    background-color: #c0c0c0; 
}

.one,
.three,
.seven,
.nine {
    border: none;
}

.two {
    border-top: none;
    border-bottom: none;
}

.four {
    border-left: none;
    border-right: none;
}

.six {
    border-right: none;
    border-left: none;
}

.eight {
    border-bottom: none;
    border-top: none;
}